@{
    ViewBag.Title = "About";
}

    <section id="about">
        <div class="parallaxAbout" style="background-image: url(../Assets/img/about.jpg)">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="title">
                            <h1>About</h1>
                        </div>
                        <div class="content">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="history">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="historyImage">
                        <img src="http://huntu.themesawesome.com/wp-content/uploads/sites/103/2017/12/intro-about-kg.png" alt="">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="historyContent">
                        <p>Dental Care Since 1995</p>
                        <span>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto. <br>
                            <br>

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        </span>
                        <p class="ceo">Daniel Zedda - CEO Dental Care</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="customer_quotes">
        <div class="parallaxCustomer" style="background-image: url(../Assets/img/doctor.jpg)">
            <div class="overlay">
                <div class="container">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="contentCustomer">
                                            <p>"Lorem ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto."</p>
                                        </div>
                                        <div class="customer">
                                            <div class="customerImage">
                                                <img src="http://huntu.themesawesome.com/wp-content/uploads/sites/103/2017/12/author1-60x60.jpg" alt="">

                                            </div>
                                            <div class="customerName">
                                                <p>Jennifer Aster</p>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="contentCustomer">
                                            <p>"Lorem ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto."</p>
                                        </div>
                                        <div class="customer">
                                            <div class="customerImage">
                                                <img src="http://huntu.themesawesome.com/wp-content/uploads/sites/103/2017/12/author2-60x60.jpg" alt="">

                                            </div>
                                            <div class="customerName">
                                                <p>Jennifer Aster</p>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="contentCustomer">
                                            <p>"Lorem ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto."</p>
                                        </div>
                                        <div class="customer">
                                            <div class="customerImage">
                                                <img src="http://huntu.themesawesome.com/wp-content/uploads/sites/103/2017/12/author1-60x60.jpg" alt="">

                                            </div>
                                            <div class="customerName">
                                                <p>Jennifer Aster</p>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="supplier">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 supplier_text">
                    <p>Pharmacy Suppliers</p>
                    <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiumo</span>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <img src="~/Assets/img/logo-1.png" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <img src="~/Assets/img/logo-4.png" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <img src="~/Assets/img/logo-2.png" alt="">
                </div>

            </div>
        </div>
    </section>
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="team_title">
                    <p>OUR TEAM</p>
                    <h1>Meet Our Experts</h1>
                </div>
                <div class="team_images">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="expert">
                            <img src="~/Assets/img/team4.jpg" alt="">
                            <div class="overlay">
                                <a href="/Home/Doctor"><p>Dr. Joye Byond</p></a>
                                <h4>Principal Dentist</h4>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-google-plus-g"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="expert">
                            <img src="~/Assets/img/team3.jpg" alt="">
                            <div class="overlay">
                                <a href="/Home/Doctor"><p>Dr. Joye Byond</p></a>
                                <h4>Principal Dentist</h4>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-google-plus-g"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="expert">
                            <img src="~/Assets/img/team2.jpg" alt="">
                            <div class="overlay">
                                <a href="/Home/Doctor"><p>Dr. Joye Byond</p></a>
                                <h4>Principal Dentist</h4>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-google-plus-g"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="expert">
                            <img src="~/Assets/img/team1.jpg" alt="">
                            <div class="overlay">
                                <a href="/Home/Doctor"><p>Dr. Joye Byond</p></a>
                                <h4>Principal Dentist</h4>
                                <div class="icons">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-google-plus-g"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="make_appointment">
        <div class="parallax" style="background-image:url(../Assets/img/about.jpg)">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <h4>Make an Appointment for Your Smile!</h4>
                        <p>1 800 345 69 96</p>
                        <div class="button">
                            <a href="/Home/Booking"><p>MAKE AN APPOINTMENT</p></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

