
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section id="newsTitle">
        <div class="parallax" style="background-image: url(../Assets/img/tools-bg.jpg)">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="title">
                            <h1>NEWS</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="allNews">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-bottom:20px">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/blog3d.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line"></div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-bottom:20px">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/blog4d.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line"></div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-bottom:20px">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/blog5d.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line"></div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-bottom:20px">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/blog2d.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line"></div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-bottom:20px">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/blog6d.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line"></div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-bottom:20px">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/bg-hero.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line"></div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="make_appointment">
        <div class="parallax" style="background-image:url(../Assets/img/about.jpg)">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <h4>Make an Appointment for Your Smile!</h4>
                        <p>1 800 345 69 96</p>
                        <div class="button">
                            <a href="/Home/Appointment"><p>MAKE AN APPOINTMENT</p></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   

