
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section id="slider">
        <div class="parallax" style="background-image: url(../Assets/images/blog2d.jpg)">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="title">
                            <h1>
                                Booking
                            </h1>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="welcomeText">
                        <h5>WE’RE</h5>
                        <h2>Open Hours</h2>
                        <p>
                            If you feel tired and stressed
                            after a working day, we are happy to give you an
                            enjoyable and healthy solution to find your balance again.
                        </p>
                        <li><i class="far fa-dot-circle"></i>Mon-Fri: 9 AM - 6 PM</li>
                        <li><i class="far fa-dot-circle"></i>Saturday: 9 AM - 4PM</li>
                        <li><i class="far fa-dot-circle"></i>Sunda: Closed</li>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="appointment1">
                        <div class="first">Make an Appointment Today!</div>
                        <div class="second">
                            <div class="contactForm">
                                <form class="form-horizontal" action="/action_page.php">
                                    <div class="form-group Form">
                                        <input type="text" class="form-control contactInput" id="name" placeholder="Your Name">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="email" class="form-control contactInput" id="email" placeholder="Your Email">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="text" class="form-control contactInput" id="name" placeholder="Phone Number">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="text" class="form-control contactInputLast" id="name" placeholder="Doctor Name">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="date" class="form-control contactInputLast" id="name" placeholder="Text">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="time" class="form-control contactInputLast" id="name" placeholder="Text">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info btn-lg submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


