@{
    ViewBag.Title = "Contact";
}

    <section id="contactTitle">
        <div class="parallax" style="background-image: url(../Assets/img/doctor.jpg)">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="title">
                            <h1>Contact Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contactMain">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div id="map">

                    </div>

                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="contactInfo">
                        <div class="infoTitle">
                            <h3>CONTACT INFO</h3>
                            <h1>Get In Touch</h1>
                            <p>Do you have anything in your mind to tell us? Please don't hesitate to get in touch to us via our contact form.</p>
                        </div>
                        <div class="infoContent">
                            <div class="info">
                                <div class="image">
                                    <img src="~/Assets/img/envelopes.png" alt="">
                                </div>
                                <div class="text">
                                    <h3>Email</h3>
                                    <p>huntu@example.com</p>
                                </div>
                            </div>
                            <div class="info">
                                <div class="image">
                                    <img src="~/Assets/img/phones.png" alt="">
                                </div>
                                <div class="text">
                                    <h3>Phone</h3>
                                    <p>+1-202-666-969</p>
                                </div>
                            </div>
                            <div class="info">
                                <div class="image">
                                    <img src="~/Assets/img/map-markers.png" alt="">
                                </div>
                                <div class="text">
                                    <h3>Address</h3>
                                    <p>40 Maria Street 133/2<br> New York City, US</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="contactForm">
                    <form class="w3-container" action="/action_page.php">
                        <div class="form-group">
                            <input type="text" class=" w3-input w3-border w3-animate-input" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="w3-input w3-border w3-animate-input" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="w3-input w3-border w3-animate-input" id="name" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <input type="text" class="w3-input w3-border w3-animate-input contactInputLast" id="name" placeholder="Text">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default contactBtn">Leave Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
   