@{
    ViewBag.Title = "Home Page";
}



    <section id="homeTitle" style="background-image:url(../Assets/images/slide2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h1>
                        High Innovative Technology & Professional Dentists
                    </h1>
                    <p>Dr. Hendra is an active member of the Academy of  General Dentistry and strives to stay up to date with the latest  in techniques and technology in the dental profession.</p>
                    <div class="btnContact">
                        <a href="contact.html"><p>Contact Us</p></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="welcomeText">
                        <h5>WELCOME TO DENTAL CARE!</h5>
                        <h2>Welcome to a Family Dental Clinic</h2>
                        <p>
                            Professional dental clinic Dental Care offers the whole range
                            of dentistry services: treatment of caries, gum diseases, tooth
                            whitening, implantation, dentures (crowns installation), surgery,
                            occlusion correction (braces) etc. Our dentists will help
                            you solve any dental problem painless and carefully
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="appointment1">
                        <div class="first">Make an Appointment Today!</div>
                        <div class="second">
                            <div class="contactForm">
                                <form class="form-horizontal" action="/action_page.php">
                                    <div class="form-group Form">
                                        <input type="text" class="form-control contactInput" id="name" placeholder="Your Name">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="email" class="form-control contactInput" id="email" placeholder="Your Email">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="text" class="form-control contactInput" id="name" placeholder="Phone Number">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="text" class="form-control contactInputLast" id="name" placeholder="Doctor Name">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="date" class="form-control contactInputLast" id="name" placeholder="Text">
                                    </div>
                                    <div class="form-group Form">
                                        <input type="time" class="form-control contactInputLast" id="name" placeholder="Text">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info btn-lg submit"><p>Submit</p></button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="textServices">
            <h5>SERVICES WE PROVIDE</h5>
            <h3>Our Clinic Services</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3  col-lg-3  col-sm-6 col-xs-12">
                    <div class="serviceImg text-center">
                        <img src="~/Assets/images/fake-tooth.png" alt="">
                    </div>
                    <div class="serviceContent text-center">
                        <a href="/Home/Service"><h4>Fake-Tooth</h4></a>
                        <p>
                            At our massage theraphy center, each massage is customized
                            according to the client’s individual.
                        </p>
                    </div>
                </div>
                <div class="col-md-3  col-lg-3  col-sm-6 col-xs-12">
                    <div class="serviceImg text-center">
                        <img src="~/Assets/images/dental-floss.png" alt="">
                    </div>
                    <div class="serviceContent text-center">
                        <a href="/Home/Service"><h4>Dental Care</h4></a>
                        <p>
                            We provide a wide range of oral health care services to patients,
                            from routine checkups to fitting braces
                        </p>
                    </div>
                </div>
                <div class="col-md-3  col-lg-3  col-sm-6 col-xs-12">
                    <div class="serviceImg text-center">
                        <img src="~/Assets/images/teeth-protection.png" alt="">
                    </div>
                    <div class="serviceContent text-center">
                        <a href="/Home/Service"><h4>Tooth Protection</h4></a>
                        <p>
                            There are only 2 dental specialties that only focus on
                            dental esthetics: Prosthodontics and Orthodontics
                        </p>
                    </div>
                </div>
                <div class="col-md-3  col-lg-3  col-sm-6 col-xs-12">
                    <div class="serviceImg text-center">
                        <img src="~/Assets/images/holed-tooth.png" alt="">
                    </div>
                    <div class="serviceContent text-center">
                        <a href="/Home/Service"><h4>Dental Calculus</h4></a>
                        <p>
                            Types of bridges may vary, depending upon how they are fabricated
                            and the way they anchor to the adjacent teeth
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="open_hours">
        <div class="parallax" style="background-image: url(../Assets/images/about.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-6 col-lg-6 col-md-offset-6 col-md-6 col-sm-12 col-xs-12 col">
                        <div class="hours" style="background-image: url(../Assets/images/bg-6s.jpg)">
                            <div class="title">
                                <h5>we're</h5>
                                <h2>Open Hours</h2>
                                <p>
                                    If you feel tired and stressed after a
                                    working day, we are happy to give you an enjoyabl
                                    healthy solution to find your balance again.
                                </p>
                                <li><i class="far fa-dot-circle"></i>Mon-Fri: 9 AM - 6 PM</li>
                                <li><i class="far fa-dot-circle"></i>Saturday: 9 AM - 4PM</li>
                                <li><i class="far fa-dot-circle"></i>Sunda: Closed</li>
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="allNews">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/blog3d.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line">
                            <div class="smalline"></div>
                        </div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/blog4d.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line">
                            <div class="smalline"></div>
                        </div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/blog5d.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line">
                            <div class="smalline"></div>
                        </div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="newsPhoto">
                        <img src="~/Assets/img/blog5d.jpg" alt="">
                    </div>
                    <div class="newsContent">
                        <div class="title">
                            <a href="/Home/Single"><p>Proin In Orci Quis Elit Blandit Imperdiet Enim</p></a>
                        </div>
                        <div class="line">
                            <div class="smalline"></div>
                        </div>
                        <div class="date">
                            <div class="calendar">
                                <i class="fas fa-calendar-alt"></i>
                                <p> DECEMBER 27, 2017</p>
                            </div>
                            <div class="folder">
                                <i class="far fa-folder"></i>
                                <p>NEWS</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus...</p>
                        </div>
                        <div class="readMore">
                            <a href="/Home/Single"><p>READ MORE</p></a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
    <section id="make_appointment">
        <div class="parallax" style="background-image:url(../Assets/img/about.jpg)">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <h4>Make an Appointment for Your Smile!</h4>
                        <p>1 800 345 69 96</p>
                        <div class="button">
                            <a href="/Home/Booking"><p>MAKE AN APPOINTMENT</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
