
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section id="aboutD">
        <div class="container">
            <div class="name">
                <p>Dental Care</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img src="~/Assets/img/blog3d.jpg" style="width: 100%">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut suscipit odio ante, id dapibus elit condimentum vitae. Maecenas eget orci
                        vitae enim accumsan mollis. In congue nunc velit, sit amet eleifend velit cursus
                        vitae. Morbi lorem massa, lobortis id bibendum et, rhoncus porttitor tortor. Aenean
                        eget orci pulvinar, tincidunt neque quis, aliquam lectus. Etiam nec malesuada
                        tortor. Sed id condimentum turpis. Quisque non fermentum est. Integer lobortis turpis
                        a justo dignissim, sit amet accumsan sem pulvinar. Morbi mollis vitae libero in rhoncus.
                        Vestibulum at arcu faucibus, congue diam sit amet, viverra velit. Sed rutrum urna ut d
                        olor dignissim suscipit. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Maecenas ultrices justo metus, quis facilisis justo i
                        nterdum nec. Donec luctus ligula elit, eget varius urna sodales at. Mauris enim risus,
                        cursus at nulla eget, mattis imperdiet orci.
                    </p>
                </div>
            </div>
        </div>
        
    </section>
  
