#contactMain{
	width: 100%;
	padding: 40px 0px;
	background-color: #fafafa;
	#map{
		height: 500px;
        width: 100%;
        margin-bottom: 40px;
	}
	.contactInfo{
		width: 100%;
		padding: 20px;
		.infoTitle{
			width: 100%;
			height: 160px;
			h3{
				color:#969fa8;

			}
			p{
				font-size: 18px;
			}
		}
		.infoContent{
			width: 100%;
			height: 300px;
			.info{
				width: 100%;
				height: 100px;
				.image{
					float: left;
					margin-right: 20px;
				}
				.text{
					float:left;
					h3{
						margin: 5px 0px;
					}
					p{
						font-size: 17px;
					}
				}
			}
		}
	}
	.contactForm{
		width: 100%;
		padding: 60px 20px;
		form{
			margin-top: 40px;
			
			.contactInputLast{
				height: 150px;
				
			}
			.contactBtn{
				width: 100%;
				background-color: #ff8a8b;
				border-radius: 40px;
				color: white;
				padding: 10px 50px;
				font-size: 18px;
				cursor: pointer;
				margin-top: 40px;
				&:hover{
					background-color: #cc6e6f;
				}
			}
			input{
				width: 30%;
				background-color: transparent;
				box-shadow: none;
				border: none;
			}
		}
	}
}