#homeTitle{
	width: 100%;
	padding: 50px 0px;
     background-position: top center;
     background-repeat: no-repeat;
     background-size: cover;
     h1{
     	font-size: 60px;
     	color: white;
     	line-height: 70px;
     	font-family: Marcellous;
     }
     p{
     	font-size: 20px;
     	color: white;
     	line-height: 30px;
     }
     .btnContact{
     	width: 150px;
				border-radius: 40px;
				padding: 10px 5px;
				background-color: $color_blue;
				cursor: pointer;
				transition: .5s ease;
				a{
					text-decoration: none;
					p{
						color: white;
						text-align: center;
						font-size: 16px;
						margin-bottom: 0px;
					}
				}
				&:hover{
					border:2px solid white;
						}
}
}