#services{
  width: 100%;
  padding: 50px 0px;
  .textServices{
    text-align: center;
    padding: 50px;
    h5{
      color: #969fa8;
      font-family: "Karla", Sans-serif;
      font-size: 16px;
      letter-spacing: 5px;
    }
    h3{
      font-size: 32px;
      font-family: Marcellus;
    }

  }
  p{
    color: #737373;
    font-family: "Karla", Sans-serif;
    font-size: 15px;
  }
  a{
    text-decoration: none;
    h4{
    font-family: Marcellus;
    letter-spacing: 1px;
    color: #262626
  }
  }
}
