#supplier{
	width: 100%;
	padding: 40px 0px;
	background-color: $color_blue;
	.container{
		.row{
			.supplier_text{
				p{
				color: white;
				font-size: 32px;

			}
			span{
				color: white;
				font-size: 18px;
			}
			}
			img{
				width: 100%;
			}
		}
		
	}
}