#welcome{
  width: 100%;
  // height: 400px;
  background: #f2f2f2;
  .welcomeText{
    width: 100%;
    padding: 60px 10px;
    h5{
    color: #b3b3b3;
    letter-spacing: 5px;
    font-size: 1em
    // padding: 30px;
  }
  h2{
    line-height: 70px;
    //font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 1.6px;
  }
  p{
    color: #b3b3b3;
    font-size: 18px;
  }
    li{
      list-style-type: none;
      font-size: 20px;
      svg{
       color:$color_blue;
       margin-right: 10px;
      }
    }
  }
  
  .appointment1{
    width: 100%;
    margin-top: -100px;
  }
  .first{
    width: 100%;
    height: 100px;
    background: #99ddff;
    color: #fff;
    font-size: 1.7em;
    text-align: center;
    padding: 25px;
  }
  .second{
    box-shadow: 5px 5px 5px #a6a6a6;
    
    background: #fff;
    padding: 50px 30px 50px 70px;
    .Form{
      float: left;
      margin-right: 60px;
      input{
      width: 180px;
      border:none;
      box-shadow: none;
      border-top: 1px solid black;
      border-radius: 0px;
      &:hover{
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-radius: 0px;
      }
    }
    }
    .submit{
      width: 100%;
      border-radius:40px !important;
      
      background: #ff9999;
      border: none;
      font-size: 1em;
      font-family: "Courier New", Courier, monospace;
      p{
        text-align: center !important;
      }
       &:hover{
         background: black;
       }
    }
  }
}
